body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 2rem;
    margin: 0;
    padding: 0;
}

.card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    text-align: center;
}

input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    background-color: #cde3c6;
    color: #003300;
    font-size: 1rem;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    width: 100%;
    background-color: #003300;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #005000;
}

.alert {
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #856404;
    border-radius: 4px;
}

.message {
    margin-top: 1rem;
    text-align: center;
    color: red;
}

.btnAzul {
    padding: 0.6rem 1.2rem;
    background-color: #003300;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 1rem;
}

.btnAzul:hover {
    background-color: #005000;
}

nav {
    background-color: #005000;
    height: 50px;

}